<div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis à jour : {{ lastUpdate | async | date:'short'|uppercase }} </p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
        [indexOfAppareil]="i"
        [appareilName]="appareil.name"
        [appareilStatus]="appareil.status"></app-appareil>
           <!--date:'short'
             <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
              <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></app-appareil>
             <app-appareil [appareilName]="appareilThree" [appareilStatus]="'éteint'"></app-appareil>
              //--> 
      </ul>
      <!--[disabled]="!isAuth"//-->
      <button class="btn btn-success" 
              (click)="onAllumer()" >Tout allumer </button>
      <button class="btn btn-danger" 
              (click)="onEteindre()" >Tout eteindre </button>
</div>